@import (reference) "./../../../styles";
.wrapper {
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: auto;
  .flex-column-center();
  //border: 1px solid red;
}
.container {
  margin: @margin--mid;
  .flex-column-center();
}
